@model DC.Pessoa

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir esses Dados?</h3>
<fieldset>
    <legend>Excluir Dados</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataDeNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataDeNascimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Celular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelefoneResidencial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelefoneResidencial)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
